

/*
 * design for each fixed sections
 */
section.fixed.f1 {
	background-image: url("../images/f1.jpg");
}

section.fixed.f2 {
  background-image: url("../images/f1.jpg");
}


/*
 * design for each scrolling sectiona
 */
section.scrolling.s2 img {
	max-width: 100%;
}
section.scrolling.s3 {
	background-color: #d52121;
	color: #fff;
}
